@model IEnumerable<SkripsiGabungan.Models.testing_data_hasil>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ROE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cash_ratio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.current_ratio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TATO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TMS_TA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Output)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TingkatKesehatan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ROE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cash_ratio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.current_ratio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TATO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TMS_TA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Output)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TingkatKesehatan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
