@model SkripsiGabungan.Models.hasil

@{
    ViewBag.Title = "Details";
}

<h2>Detail</h2>

<div>
    <h4>@Html.DisplayFor(model => model.perusahaan.nama_perusahaan) Tahun @Html.DisplayFor(model => model.tahun.tahun1)</h4>
    <hr />
    <table class="table table-dark table-bordered" style="width: 50%;margin-left:20%">
        <thead>
            <tr>
                <th>Tingkat Kesehatan</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>@Html.DisplayFor(model => model.tingkat_kesehatan)</th>
                <th>@Html.DisplayFor(model => model.grade)</th>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ROE) :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ROE)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ROI) :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ROI)
                </dd>

                <dt>
                    Cash Ratio :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.cash_ratio)
                </dd>
                <dt>
                    Current Ratio :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.current_ratio)
                </dd>

                <dt>
                    CP :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CP)
                </dd>

                <dt>
                    PP :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PP)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TATO) :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TATO)
                </dd>

                <dt>
                    TMS TA :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TMS_TA)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal" style="display:normal">
                <dt>
                    Laba Setelah Pajak :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sumber.laba_setelah_pajak)
                </dd>
                <dt>
                    Total Ekuitas :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sumber.total_ekuitas)
                </dd>
                <dt>
                    EBIT :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sumber.EBIT)
                </dd>
                <dt>
                    Penyusutan :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sumber.penyusutan)
                </dd>
                <dt>
                    Capital Employed :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sumber.capital_employed)
                </dd>
                <dt>
                    Surat Berharga Jangka Pendek :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sumber.surat_berharga_jangka_pendek)
                </dd>
                <dt>
                    Current Asset :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sumber.current_asset)
                </dd>
                <dt>
                    Current Liabilities:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sumber.current_liabilities)
                </dd>
                <dt>
                    Total Piutang Usaha :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sumber.total_piutang_usaha)
                </dd>

                <dt>
                    Total Persediaan :
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sumber.total_persediaan)
                </dd>
            </dl>
        </div>

    </div>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |*@
    <a href="/hasils/Index/">
        <button type="button" class="btn btn-success">
            @*@Html.ActionLink("Back to List", "Index")*@ Back to List
        </button>
    </a>
</p>
